@* @model Dachi *@
@* no model binding is not neccessary for this form cuz we're not submitting any info using the model *@

<form action="restart" method="get">
    <button class="btn btn-danger" >Restart</button>
</form> 
@* Or action="/" with Restart method. it'll take you back to home page without clearing the session, clearing session is not neccessary in the case  *@